/* Style for the header section */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 100; 
    align-items: center;
    background-color: rgb(10, 153, 158);
  }
  
  /* Style for the logo */
  .logo img {
  
    position: absolute;
    top: 14px;
    left: 14px;
    max-width: 100px;
    height: 100px;
    background-color: rgb(77, 166, 214);
    border-radius: 20%;
    padding: 0px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
     
  }

  /* Style for the company name */
  h1 {
    position:relative;
    text-align:justify;
    padding: 0px;
    top: 50%;
    /* right: -10px; */
    left: 180px;
    font-size: 40px;
    font-family: 'Sedgwick Ave Display', cursive;
  }
  h2{
    color: whitesmoke;
    position:relative;
    text-align:justify;
    padding: 0px;
    top: -15px;
    /* right: 40%; */
    left: 90px;
    font-family: 'Sedgwick Ave Display', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: background-color 0.3s,color 0.3s;
  }
  h2:hover{
    color: red;
  }
/* Style for redirect link of company name */
  h1 a, h1 a:visited {

    color: inherit; /* Inherit the color from the parent element */
  
    text-decoration: none;  /*Remove underline */
  
   }


/* Reset default margin and padding on the <ul> and <li> elements */
.navigation {
  list-style-type: none;
  margin: 142px;
  padding: 0px;
  position: absolute;
  top: -20px;
  right: -152px;
  }
  
  /* Style the navigation items */
  .navigation li {
  display: inline-block;
  margin-left: 10px; /* Add spacing between items */
  }
  
  /* Align the navigation items to the right */
  .navigation {
  float: right;
  }
  
  /* Style the links */
  .navigation a {
  text-decoration: none;
  color: #333; /* Set your desired link color */
  font-weight: bold;
  }
  
  ul{
    list-style: none;
    background: rgb(138, 241, 248);
  }
  ul li{
    display: inline-block;
    position: relative;
  }
  ul li a {
    display: block;
    padding: 10px 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }
  ul li ul.dropdown li{
    display: block;
  }
  ul li ul.dropdown{
    width:15rem;
    background:  rgb(10, 153, 158);
    position: absolute;
    z-index: 999;
    padding-left: 0%;
    display: none;
  }

  ul li a:hover{
    background: #77d3df;
  }
  ul li:hover ul.dropdown{
    display: block;
  }
  /* ul li ul li ul.dropdown-new:hover{
    color: red;
    display: block;
  } */


  /* Style for the navigation bar links on hover */
  ul.navigation li a:hover {
    /* Add an underline on hover */
   text-decoration: underline;
}



/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
} */

/* header {
  text-align: center;
  padding: 50px;
} */

.blink {
  animation: blink 5.0s   ; /* Use the "blink" animation with infinite repetition */
  font-size: 36px;
  color: black;
}

@keyframes blink {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.row .video{
  /* overflow: auto; */
  margin-left: 20px;
  height: 300px;
  width: 80%;
  margin-top: 70px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 5px;
  /* align-items: center; */
}
.row .info{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.row{
  /* width: 180%; */
  max-width: 2000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  /* align-items: center; */
}
.row .info .contain{
  padding: 25px 40px 25px 40px;
}
.row .info .contain p{
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 20px;
}
body {
  padding-top: 120px; /* Adjust this value to match the header's height */
}

/* Add this CSS to your security.css file */

/* Style the "Contact Us" section */
.security-cta {
  background-color: #009688; /* Background color */
  color: #fff;
  padding: 60px 0;
  text-align: center;
}

.security-cta h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.security-cta p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722; /* Button background color */
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff8f6a; /* Hover color */
}

/* Style for project container and projects */

.project-container{
  max-width: 2000px;
  margin: 0 auto; /* To centre the container horizontally */
  padding: 20px;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */

}

.projects {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
  width: calc(33.33% - 20px);
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none; /* Remove underlines from links */
  color: #333; /* Text color for links */
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
  border-radius: 5px;
  overflow: hidden;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.project p {
  font-size: 16px;
  color: #777;
}

/* Style for the highlighted project on hover */
.project.highlighted:hover {
  background-color: #ffd700; /* Highlighted background color */
  transform: none;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);
}

/* Set background images for each project */
#project1 {
  background-image: url('agile.jpg'); /* Replace 'agile.jpg' with your image path */
  background-size: cover;
  background-position: center;
  color:  #fff; /* Change text color for visibility on the image */
}

#project2 {
  background-image: url('java.jpg'); /* Replace 'java.jpg' with your image path */
  background-size: cover;
  background-position: center;
  color: #fff; /* Change text color for visibility on the image */
}

#project3 {
  background-image: url('web-development.jpg'); /* Replace 'web-development.jpg' with your image path */
  background-size: cover;
  background-position: center;
  color: #fff; /* Change text color for visibility on the image */
}
.web{
  margin-right: 150px;
  color: #0e0d0d;
  /* text-decoration: underline; */
  text-shadow: #333;

}
.website-counter {   
  /* background-color: rgb(9, 247, 247); */
  /* height: 30px; */
  width: 40px;     /* Styles for website counter container */
  color: rgb(15, 15, 15);
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: #0aa387;
  margin-left: -520px;
  /* margin-right: 90px; */
  flex-direction: column;
}

/* Styles for reset button */
#reset {
  margin-top: 20px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 0;
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
} */

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  background-image: url(contact_us_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.container p {
  color: blue; /* Change this to the desired color */
  /* text-align: justify; */
}

.container h2 {
  text-align: left;
  padding-left: 470px;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 30%;
  margin-top: -20px;
  padding: 30px;
  
}

/* Clear floats after the columns */
.row-com:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 10%;
    margin-top: 0;
  }
}
/* Style for the thank you pop-up container */
.thank-you-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* Style for the thank you message */
.thank-you-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
/* *{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body{

  font-family: sans-serif;

  min-height: 100vh;

  color: #555;

  padding: 50px;

} */

/* h1{

  margin-bottom: 40px;

  font-size: 26px;

} */
.faq{

  margin-bottom: 20px;
  position: relative;
  margin-top: 30px;
  padding-bottom: 0px;
  border-bottom: thin dotted #d4d4d4;

}
h5{
  font-size: 25px;
  color: #04AA6D;
  text-decoration: underline;
  text-shadow: #0e0d0d;
}

.faq .question{

  cursor: pointer;

  font-size: 18px;

}

.faq .question::after{

  content: "\2304";

  display: inline-block;

  position: absolute;

  transform: translateY(-10px);

  right: 0;

  font-size: 20px;

  transition: transform .2s ease;

  color: #999;

}

.faq .question.active::after{

  transform: translateY(0px) rotate(-180deg);

}

.faq .answer{

  max-height: 0;

  transition: max-height .1s ease;

  overflow: hidden;

  padding-top: 10px;

  padding-left: 10px;

  line-height: 26px;

  color: #666;

}

.faq .answer img{

  width: 200px;

  float: left;

  padding-right: 20px;

  display: inline-block;

  margin-top: 10px;

}

.faq .answer ol{

  padding-left: 20px;

}

.faq .answer ol li{

  margin-bottom: 10px;

}