/* Style for the header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 153, 158);
  }
  
  /* Style for the logo */
  .logo img {
  
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100px;
    height: 100px;
    background-color: rgb(77, 166, 214);
    border-radius: 20%;
    padding: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
     
  }

  /* Style for the company name */
  .company-name {
    position:relative;
    text-align: center;
    padding: 20px;
    top: 50%;
    right: 43%;
    font-family: 'Sedgwick Ave Display', cursive;
  }

  /* Style for the company scope */
  h2{

    color: rgb(21, 139, 130);

    text-align: center;
     font-size: 30px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-style: italic;

    text-decoration: underline;

    text-shadow: 2px 2px 4px #ecd5d5;

  }

 

  p{

    color: black;

    font-size: 20px;

    font-family: 'Slabo 27px', serif;

    text-align: center;

  }